#signupMainDiv{
    background-color: #ebe5e5;
    height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signupMid{
    display: flex;
    flex-direction: row;
}

#signupTop h1{
    font-size: 3rem;
    font-family: "Cinzel", serif;
    color: black;
}

#signupMid_left{
    background-color: white;
    margin-right: 2rem;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
}

#signupForm{
    width: 60%;
}
#signupForm input{
    padding: 5px;
    margin-top: 10px;
    margin-bottom:1rem;
    width: 80%;
    border: none;
    border: 1px solid black;
    background-color: #ebe5e5;
    color: black;
}

#signupBtnDiv{
    margin: 10px;
}

#signupBtn{
    padding: 5px;
    border: 1px solid black;
    background-color: #323030;
    color: white;
}

#signupMid_left p{
    font-weight: bolder;
}

#signupMid_right{
    background-image: url('/public/signup.gif');
    background-position: center;
    background-size: cover;
    width: 30rem;
    height: 30rem;
    padding: 5px;
    margin-left: 2rem;
}