#homeMainDiv{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

#homeTop h1{
    font-size: 3rem;
    font-family: "Cinzel", serif;
    color: black;
}

#homeBottom{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homeBottomDivs{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 1.5rem;
    width: fit-content;
    height: fit-content;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: transform 0.3s ease;
}


.homeBottomDivs:hover {
    transform: translateY(-10px);
}

.BottomDivsImg{
    height: 15vw;
    width: fit-content;
    height: fit-content;
}

#createImg{
    background-image: url('/public/createEvent.gif');
    background-position: center;
    background-size:cover;
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
    margin: 10px;

}
#joinImg{
    background-image: url('/public/joinEvent.gif');
    background-position: center;
    background-size:cover;
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
    margin: 10px;
}

#manageImg{
    background-image: url('/public/manageEvents.gif');
    background-position: center;
    background-size:cover;
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
    padding: 5px;
    margin: 10px;
}

.BottomDivsName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.homepageLink{
    text-decoration: none;
    font-size: 1.5rem;
    color: #181717;
}